* {
	font-family: "Georgia";
	text-align: center;
}

a:link {
 
  text-decoration: none;
  font-weight: bold;
  color: black;
  }


#navContacts {
	text-align: center;
	padding: 5px 0 5px 0;
}


.contact:hover {
	filter:opacity(50%);
	transition: filter .25s;
}
