body {
	background-color: #202020;
	font-size: 20px;
	font-family: Helvetica;
	color: white;
}

#nav {
	position: absolute;
	left: 0px;
	top: 50%;
	margin-top: -97.5px;
}

.text-center {
	text-align: center;
}

.side-bar-cell {
	
	text-align: center;
	padding-top: 15px;
	padding-left: 15px;
	height: 50px;
	width: 50px;
	-webkit-transition-property: all;
	-webkit-transition-duration: 0.3s;
}
.side-bar-cell:hover {
	width: 100px;
	
}

#fb {
	background-color: rgb(59,89,152);
	
}

#linkedIn {
	background-color: rgb(0, 119, 181);
}

#github {
	background-color: #333;
}
.icon {
	font-size: 30px;
	
}

a {
    text-decoration: none;
	color: #FF00FF;
	
}
i {
	float: right;
	padding-right: 20px;
	
}

i.fa-facebook {
	padding-right: 25px;
	
}

i {
	color: white;
}
canvas {
	position: absolute;
	top: 0;
	left: 0;

	z-index: -1;
}

.portfolio {
	position: absolute;
	margin-top: -37.5px;
	right: 0px;
	top: 50%;
	background-color: rgba(0,0,0,0);
	border: white 1px solid;
	
	width: 150px;
	height: 75px;
	color: white;
	font-size: 15px;
	
	
}

i.fa-angle-right {

	margin: auto;
	font-size: 50px;
}

