img {
	border-radius: 100%;
	border-width: 5px;
	
}

h2 {
	text-decoration: overline;
	
}

.underlined {
      border-bottom: solid 2px #000;
      display: inline;
      padding-bottom: 1px;
}



div .odd {
	background-color: #F0FFF0;
}

body {
	font-family: Arial;
}
.snow {
	margin-top: 10px;
	margin-bottom: 10px;
}

.projects {
	margin-top: 20px;
	margin-bottom: 20px;
}
.fa {
	font-size: 30px;
}

.p:hover  {
	color: #6495ED;
};
}

.interests {
	font-size: 20px;
}

a {
	color:black;
	opacity: .85;
}

.icon {
	width: 35px;
	border-style: solid;
	border-width: 1px;
	border-color: white;
	border-radius: 10%;
	color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	
}

li {
    display: inline;
	margin: 10px;
}

li:hover {
	opacity: .50;
}

#contactGroup {
	background-color: #515151;
}

.contact {
	margin: 20px;
}

.copyright {
	padding-top: 30px;
}

.btn {
	background-color: #515151;
	color:white;
}

.btn:hover {
	color: #FFE4E1;
}